@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
}

:root {
  --background: #151515;
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-venite: "Venite", sans-serif;
}

body {
  background-color: var(--background);
  font-family: var(--font-geist-sans);
  overflow-x: hidden;
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }

  .button {
    @apply bg-gradient-to-t from-purple to-purpleLight;
  }
}

.title {
  font-family: var(--font-venite);
}

.neon-effect {
  text-shadow:
    0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5),
    0 0 90px rgba(255, 255, 255, 0.5),
    0 0 100px rgba(255, 255, 255, 0.5);
}
